
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

<form style= "font-size:10pt; color:rgb(229, 231, 240); font-family: Cursive, Lucida, Lucida; align-items: center; justify-content: center; text-align: center; background-image: url('https://i.pinimg.com/564x/33/c2/9b/33c29bfd302fb08c4dd7c23dce09a802.jpg');">
<div text-align: center class="card">
    <div class="card-header">Misión,  Cuidar con amor </div>
    <div class="card-main">
      <i class="material-icons"> </i>
      <div class="main-description">
        Brindar bienestar a las mascotas y sus compañeros humanos con la prestación de servicios veterinarios a domicilio.</div>
    </div>
  </div>
  
  <div text-align: center class="card">
    <div class="card-header">Visión,  Innovar en atención</div>
    <div class="card-main">
      <i class="material-icons"></i>
      <div class="main-description">
        Mediante la generación y aplicación de más canales de comunicación para que podamos estar a una llamada, un mensaje o un click de distancia.</div>
    </div>
  </div>