<div>
    <form action="/action_page.php" style= "font-size:10pt; color:rgb(229, 231, 240); font-family: Cursive, Lucida, Lucida; align-items: center; justify-content: center; text-align: center; background-image: url('https://i.pinimg.com/564x/33/c2/9b/33c29bfd302fb08c4dd7c23dce09a802.jpg');">
        <h1 for="reachus">Contáctanos</h1>        
        <br>
        <br>

        <input style= "font-size:10pt; color:rgb(8, 8, 8)rsive, Lucida, Lucida; align-items: center; justify-content: center; text-align: center; font-size: 20px;" type="text" id="fname" name="fname" placeholder="Escribe tu nombre" class="input">
        <br>
        <br>
        <input style= "font-size:10pt; color:rgb(8, 8, 8)rsive, Lucida, Lucida; align-items: center; justify-content: center; text-align: center; font-size: 20px;" type="text" id="lname" name="lname" placeholder="Escribe tu apellido" class="input">
        <br>
        <br>
        <input style= "font-size:10pt; color:rgb(8, 8, 8)rsive, Lucida, Lucida; align-items: center; justify-content: center; text-align: center; font-size: 20px;" type="text" id="email" name="email" placeholder="E-mail o correo electrónico" class="input">
        <br>
        <br>
        <input style= "font-size:10pt; color:rgb(8, 8, 8)rsive, Lucida, Lucida; align-items: center; justify-content: center; text-align: center; font-size: 20px;" type="text" id="phnumber" name="phnumber" placeholder="Teléfono o número de contacto" class="input">
        <br>
        <br>
        <input style= "font-size:10pt; color:rgb(8, 8, 8)rsive, Lucida, Lucida; align-items: center; justify-content: center; text-align: center; font-size: 20px; height:90px;" type="text" id="faqs" name="faqs" placeholder="Por favor cuentanos como podemos asistirte" class="input">
        <br>
        <br>
        <a routerLink="/administracion/rechazar-prospecto" class="btn">Enviar</a>
    </form>
</div>
