<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
<link href="https://kit.fontawesome.com/a076d05399.js" rel="stylesheet">
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

<form style= "font-size:10pt; color:rgb(229, 231, 240); font-family: Cursive, Lucida, Lucida; align-items: center; justify-content: center; text-align: center; background-image: url('https://i.pinimg.com/564x/33/c2/9b/33c29bfd302fb08c4dd7c23dce09a802.jpg');">
<div text-align: center class="card">
    <div class="card-header">Plan Casa</div>
    <div class="card-main">
      <i class="material-icons"> </i>
      <div class="main-description">
        Para ese compañero que tenemos siempre en casa haciendónos compañia y deseamos velar por su  bienestar</div>
    </div>
  </div>

  <div text-align: center class="card">
    <div class="card-header">Plan Amigos</div>
    <div class="card-main">
      <i class="material-icons"></i>
      <div class="main-description">
        Para ese amigo especial con el que queremos compartir nuestras aventuras y  que siempre acompaña a los miembros de la familia</div>
    </div>
  </div>
  
  <div text-align: center class="card" card = right>
    <div class="card-header">Plan Amigo Fiel</div>
    <div class="card-main">
      <i class="material-icons"></i>
      <div class="main-description">Para ese amigo indispensable que nos acompaña en casa o fuera de ella y deseamos ser indispensables para ellos también. </div>
    </div>
  </div>
</form>


