<footer class="page-footer" style="background-image: url('https://i.pinimg.com/564x/91/5c/93/915c930eacf4527c425edaa62795656e.jpg'); font-family: Cursive, Lucida, Lucida; font-size: 5px;">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text" style= "font-family: Cursive, Lucida, Lucida; font-size: 20px">Bienvenido a</h5>
          <p class="grey-text text-lighten-4" style= "font-family: Cursive, Lucida, Lucida; font-size: 20px">Tu Mascota Feliz</p>
        </div>
        <div class="col l4 offset-l2 s12">          
          <ul>
            <li><a class="grey-text text-lighten-3" style= "font-family: Cursive, Lucida, Lucida; font-size: 20px" href="/administracion/eliminar-sucursal">Contáctanos</a></li>            
          </ul>
        </div>
      </div>
    </div>
    